$tablet: "(min-width: 768px)"
$desktop: "(min-width: 1200px)"

.introPage
  .pageContent
    background-color: rgba(41, 171, 226, 0.2)

.intro
  box-shadow: 0 2px 6px rgba(0, 0, 0, 6)
  background-color: white
  padding: 20px
  display: block
  position: relative
  margin: 0 auto
  // height: 90%
  @media #{$tablet}
    height: auto
    width: 70vw
    margin-top: 10vh
  @media #{$desktop}
    margin-top: 20vh

  .greeting
    .visitedPlaces
      list-style: square
      font-weight: 300
      color: #29abe2
      list-style-position: inside
      margin-left: 20px
    @media #{$tablet}
      margin-bottom: 150px
    @media #{$desktop}
      margin-bottom: 170px

  .introVouchers
    background-color: #29abe2
    position: absolute
    bottom: -160px
    left: 0
    width: 100%
    height: 160px
    padding: 10px 20px
    box-sizing: border-box
    @media #{$tablet}
      display: flex
      justify-content: space-between
      bottom: -80px
      height: 80px
      position: absolute

    .vouchers
      margin: 10px
      @media #{$tablet}
        margin-top: 0


  h1
    color: #29abe2
    text-align: center

  h4
    text-align: center
    padding-bottom: 20px
    border-bottom: 1px solid #29abe2

  p
    font-size: 1em

  button
    font-size: 1.2em
    position: relative
    right: 10px
    align-self: center
    @media #{$tablet}
      font-size: 1.5em

.shares
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background-color: white
  font-weight: 500
  color: #29abe2
  padding: 0 20px
  margin: 15px
  border-radius: 10px
  .shareButton
    cursor: pointer
    margin: 10px
