$tablet: "(min-width: 768px)"
$desktop: "(min-width: 1200px)"

.clueList
  background-color: #29ABE2
  color: white
  padding: 0 20px
  box-sizing: border-box
  display: block
  @media #{$tablet}
    width: 100%
  img
    width: 100%

.addClue
  background-color: #29ABE2
  display: block
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)

  button
    margin: 0 auto
    text-align: left
    background-color: transparent
    color: white
    font-size: 1.2em
    box-shadow: none
    opacity: 0.8
    display: flex
    flex-direction: row

    img
      object-fit: contain
      height: 50px
      margin-right: 20px
      align-self: center

    span
      align-self: center

  button:hover
    box-shadow: none
    opacity: 1

.backBtn
  position: fixed
  background-color: transparent
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  color: white
  top: 8px
  left: 8px
  z-index: 100
  border-radius: 0
  font-size: 1em
  padding: 0
  margin: 0
  height: 50px
  opacity: 0.8
  display: flex
  align-items: center

  img
    object-fit: contain
    height: 25px
    margin-right: 10px

.backBtn:hover
  background-color: transparent
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  opacity: 1

.clueBlock
