$tablet: "(min-width: 768px)"
$desktop: "(min-width: 1200px)"

.scenarios
  position: relative
  text-align: left
  color: white
  padding-left: 20px
  margin-left: 20px
  border-left: 1px solid white

  h2
    line-height: 0.7em
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7)

  button
    margin: 20px 20px 20px 0
    color: #333
