@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500,700')

@import reset

body
  font-family: 'Ubuntu', sans-serif
  background-color: #29abe2

.mapRef
  width: 100vw
  height: 80vh
  background-color: black

.vouchers
  background-image: url('/images/vouchers.png')
  background-repeat: no-repeat
  background-size: contain
  color: #29abe2
  margin: 2vmin
  font-size: 2em
  padding-left: 0.5vmin
  height: 20vmin
  max-height: 100px
  min-height: 75px
