@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500,700')

@import reset
@import waypoints

body
  font-family: 'Ubuntu', sans-serif
  background-color: #29abe2
  color: #333
  font-weight: 300

.mapRef
  width: 100vw
  height: 80vh
  background-color: black

.vouchers
  background-image: url('/images/vouchers.png')
  background-repeat: no-repeat
  background-size: contain
  // color: #29abe2
  color: #333
  margin: 2vmin
  height: 20vmin
  width: 20vmin
  max-height: 100px
  max-width: 100px
  min-height: 75px
  min-height: 75%

  .remaining
    position: relative
    left: 10%
    top: 10%
    font-size: 100%

button
  background-color: white
  font-family: 'Ubuntu', sans-serif
  font-size: 1.2em
  font-weight: 500
  color: #29abe2
  border: none
  padding: 10px 20px
  border-radius: 10px
